Repository nansystem/nancy-blog-astro: changes, and which pre-commit hooks are due for each by the changed paths.
All: oxfmt, textlint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/oxc-project/mirrors-oxlint
    rev: v1.46.0
    hooks:
      - id: oxlint
  - repo: local
    hooks:
      - id: oxfmt
        name: oxfmt (md/mdx)
        entry: pnpm exec oxfmt --write
        language: system
        files: \.(md|mdx)$
      - id: textlint
        name: textlint (md)
        entry: pnpm exec textlint
        language: system
        files: src/content/blog/.*\.md$

fix: インラインコードを白背景+ボーダーにして背景色との区別を明確化
  src/styles/global.css
Due: none

docs: picoclaw-heartbeat記事を大幅加筆
  src/content/blog/picoclaw-heartbeat.md
Due: oxfmt, textlint

docs: 「agentを順番に動かしたい場合」セクションを削除
  src/content/blog/picoclaw-heartbeat.md
Due: oxfmt, textlint

docs: ディレクトリ構成の各ファイルに役割コメントを追加
  src/content/blog/picoclaw-heartbeat.md
Due: oxfmt, textlint

docs: picoclaw-heartbeat記事のタイトル・description書き直しと公開
  .takt/config.yaml
  .textlintrc.json
  src/content/blog/picoclaw-heartbeat.md
  src/styles/global.css
Due: oxfmt, textlint

fix: ビルド前にPlaywright Chromiumをインストールしてmermaid描画を修正
  package.json
Due: none

fix: ビルド前にAstroキャッシュをクリアしてコンテンツを再生成
  package.json
Due: none

fix: rehype-mermaidをpre-mermaid strategyに切り替え
  astro.config.mjs
  package.json
  src/layouts/BlogPost.astro
Due: none

feat: AI orchestration記事追加・textlint環境整備
  .pre-commit-config.yaml
  package.json
  pnpm-lock.yaml
  prh.yml
  scripts/lint-frontmatter.mjs
  src/content/blog/gemini-tool-calling.md
  src/content/blog/picoclaw-heartbeat.md
  src/content/blog/picoclaw-sakura-ai-engine.md
  src/content/blog/spec-driven-development-claude-code-orchestrator.md
Due: oxfmt, textlint

feat: ng-wordに骨格・エコーバックを追加
  .textlintrc.json
Due: none

Checkpoint: 1a82deb18c55
  1a/82deb18c55/0/content_hash.txt
  1a/82deb18c55/0/context.md
  1a/82deb18c55/0/full.jsonl
  1a/82deb18c55/0/metadata.json
  1a/82deb18c55/0/prompt.txt
  1a/82deb18c55/metadata.json
Due: oxfmt

feat: gemini-tool-calling記事にCLI説明・実行例・thinkingConfig追加
  src/content/blog/gemini-tool-calling.md
Due: oxfmt, textlint

Checkpoint: 1355f4fee683
  13/55f4fee683/0/content_hash.txt
  13/55f4fee683/0/context.md
  13/55f4fee683/0/full.jsonl
  13/55f4fee683/0/metadata.json
  13/55f4fee683/0/prompt.txt
  13/55f4fee683/metadata.json
Due: oxfmt

feat: textlintルールを追加
  .textlintrc.json
  package.json
  pnpm-lock.yaml
Due: none

Checkpoint: d80a7ed5b04c
  d8/0a7ed5b04c/0/content_hash.txt
  d8/0a7ed5b04c/0/context.md
  d8/0a7ed5b04c/0/full.jsonl
  d8/0a7ed5b04c/0/metadata.json
  d8/0a7ed5b04c/0/prompt.txt
  d8/0a7ed5b04c/metadata.json
Due: oxfmt

feat: AI エージェント記事を公開・URL形式を統一・URL チェック自動化
  .pre-commit-config.yaml
  .textlintrc.json
  scripts/check-url-format.sh
  src/content/blog/create-a-contact-form-with-google-form-and-auto-reply.md
  src/content/blog/css-full-page-background-color.md
  src/content/blog/dayjs-alternative-to-momentjs.md
  src/content/blog/develop-google-cloud-function-with-emulator.md
  src/content/blog/flask-csv-file-upload-multipart-form-data-with-nuxtjs.md
  src/content/blog/flask-render_template.md
  src/content/blog/gemini-tool-calling.md
  src/content/blog/getting-started-with-ejs.md
  src/content/blog/how-to-customize-bluma-with-node-sass.md
  src/content/blog/i-tried-beginning-in-python.md
  src/content/blog/make-text-over-image-more-readable-with-css.md
  src/content/blog/nuxt-composition-api-v2-diff.md
  src/content/blog/opacity-0-vs-visibility-hidden-vs-display-none.md
  src/content/blog/picoclaw-heartbeat.md
  src/content/blog/picoclaw-sakura-ai-engine.md
  src/content/blog/protocol-buffers-enum-in-python.md
  src/content/blog/python-basic-grammar.md
  src/content/blog/python-convert-json-string-to-dict.md
  src/content/blog/python-grpc-unary-rpc-1request-1response.md
  src/content/blog/python-lambda-when-to-use.md
  src/content/blog/python-loop-tuple-namedtuple-dict-list.md
  src/content/blog/rollup-plugin-commonjs-and-rollup-plugin-node-resolve.md
  src/content/blog/spec-driven-development.md
  src/content/blog/study-english-from-today.md
  src/content/blog/using-google-cloud-pub-sub-pull-with-gcloud-tool.md
  src/content/blog/using-google-cloud-pub-sub-to-push-to-google-cloud-functions.md
  src/content/blog/webpack-html-webpack-plugin-with-cache-busting-and-ejs.md
  src/content/blog/what-is-markdown-it-and-frequently-used-plugins.md
  src/content/blog/what-is-the-use-of-babel.md
Due: oxfmt, textlint

Checkpoint: 473f46c0acf7
  47/3f46c0acf7/0/content_hash.txt
  47/3f46c0acf7/0/context.md
  47/3f46c0acf7/0/full.jsonl
  47/3f46c0acf7/0/metadata.json
  47/3f46c0acf7/0/prompt.txt
  47/3f46c0acf7/metadata.json
Due: oxfmt

Checkpoint: fe2d360d85ec
  fe/2d360d85ec/0/content_hash.txt
  fe/2d360d85ec/0/context.md
  fe/2d360d85ec/0/full.jsonl
  fe/2d360d85ec/0/metadata.json
  fe/2d360d85ec/0/prompt.txt
  fe/2d360d85ec/metadata.json
Due: oxfmt

vault backup: 2026-03-08 17:53:35
  src/content/2026-02-15.md
Due: oxfmt

feat: refresh blog design and upgrade dependencies
  .node-version
  .nvmrc
  .pre-commit-config.yaml
  README.md
  astro.config.mjs
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/components/BaseHead.astro
  src/components/Footer.astro
  src/components/Header.astro
  src/components/PostList.astro
  src/consts.ts
  src/content.config.ts
  src/layouts/BaseLayout.astro
  src/layouts/BlogPost.astro
  src/pages/category/[category].astro
  src/pages/index.astro
  src/styles/global.css
Due: oxfmt

fix: simplify homepage introduction
  src/components/Footer.astro
  src/pages/index.astro
Due: none

fix: remove decorative link arrows
  src/components/Header.astro
  src/components/PostList.astro
  src/pages/index.astro
Due: none
